@import "leaflet/dist/leaflet.css";
body {
  margin: 0;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#top-bar {
  padding: 10px;
  background: #333;
  color: white;
  display: flex;
  justify-content: flex-start;
}

#top-bar > *:last-child {
  margin-left: auto;
}

#editor-container {
  flex: 1;
  display: flex;
  height: 100%;
}

.editor,
#preview-panel {
  flex: 1;
  height: 100%;
  overflow: auto;
  padding: 10px;
  box-sizing: border-box;
}

#preview-panel {
  background: #f5f5f5;
  border-left: 1px solid #ccc;
}

#people-editor,
#places-editor {
  display: none;
  flex: 1;
}

body:has(input#people:checked) {
  #people-editor {
    display: block;
  }
  #preview-panel {
    display: none;
  }
}

body:has(input#places:checked) {
  #places-editor {
    display: block;
  }
}

#map {
  height: 100%;
  width: 100%;
}

#reset {
  position: fixed;
  left: 0;
  bottom: 0;
}
