@import "@picocss/pico/css/pico.css";

:root {
  --font-size: 16px;
}

body {
  --accordion-open-summary-color: var(--accordion-close-summary-color);
  --typography-spacing-vertical: 1.5em;
  --spacing: 1em;
}
summary {
  display: flex;
  align-items: end;
}

summary > hgroup {
  display: flex;
  flex-direction: column;
  margin: 0;
  gap: 1em;
}

summary > hgroup > *:last-child {
  --color: var(--h1-color);
  margin: 0;
}

summary .dateline {
  display: grid;
  justify-content: left;
  grid-row-gap: 0.2em;
  & .date {
    font-weight: 600;
  }
  & .time {
    grid-row: 2;

    &:after {
      content: ",";
      padding-right: 0.5ch;
    }
  }
  & .location {
    grid-row: 2;
  }
}

section {
  margin-bottom: 0;
}

hgroup p {
  margin: 0;
}
blockquote > p:last-child {
  margin-bottom: 0;
}
details summary:after {
  float: none;
  margin-left: auto;
}
.dateline {
  font-size: 0.8em;
  color: var(--color-muted);
}

.links {
  columns: 2;
}

li {
  text-wrap: balance;
  padding: 0 0.5em;
}

.citations > li {
  margin-left: 1rem;
  text-indent: -1rem;
  text-wrap: pretty;
  list-style-type: none;
}
